body{
  background-color: #20283B;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#judul {
  background-color: #FF8000;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  font-size: 14;
  font-family: sans-serif;
}

#subjudul{
  color: #FFF;
  font-family: Monospace;
  margin-top: 5px;
}

.item {
  margin: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pastikan semua elemen di tengah secara vertikal */
}

.fitur{
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 0;
}

#check{
  display: none;
}

.switch{
  background-color: gray;
  width: 40px;
  height: 20px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}

.switch::before{
  content:"";
  position: absolute;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2.5px;
  transition: transform 0.3s ease;
}

input:checked + .switch{
  background-color: #FF8000;
}

input:checked + .switch::before{
  transform: translateX(20px);
}

.caption{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 13px;
  color: white;
  font-family: monospace;
}

.garis{
  background-color: #FF8000;
  width: 5px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.kotak {
  background-color: #FF8000;
  width: 5px;
  height: 50px;
  margin-right: 0;
  border-radius: 5px;
}

.fitur1{
  display: flex;
  align-items: center;
}
